/* Universal Styles */
html {
  font-size: 18px;
}
body {
  line-height: 1.4;
  font-family: "Helvetica", sans-serif;
}
.container {
  width: 960px;
  margin: 0 auto;
}
/* BANNER & HEADER */
.banner {
  display: flex;
  flex-direction: column;
  height: 31rem;
  background-image: url(../Images/glasses-bg.png);
  background-repeat: no-repeat;

  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
}
header img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
  width: auto;
}
.title {
  display: flex;
  align-items: center;
  color: white;
}
.navigation {
  display: flex;
  justify-content: space-around;
  padding-right: 2rem;
}
.navigation li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  color: white;
}
.slogan {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  width: 1024px;
  height: auto;
}
.slogan span {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;

}
/* SERVICES */
.services {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: auto;
}
.margin {
  margin-right: 6rem;
}

.service-image.exams img {
  width: 3.5rem;
  height: auto;
}
.fittings img {
  width: 5rem;
  height: auto;
}
.delivery img {
  width: 5rem;
  height: auto;
}
.service span {
  text-align: center;
}
